<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studybud</title>
</head>

<body>
    <nav>
        <a href="/">
            <h1>LOLU.AI</h1>
        </a>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Team</li>
        <li>Contact us</li>
    </nav>
    <hr style="background-color: cornflowerblue; padding: 1px; align-items: left; border: none; width: 500px;">
    <hr style="background-color: blue; padding: 1px; border: none;">
</body>

</html>